body {
  background-color: #fce7f3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 2rem;
}

article {
  background-color: #fbcfe8;
  padding: 2rem 4rem;
  color: #1f2937;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 20px 20px 0px #db2777;
  border: 6px solid #831843;
  border-radius: 2rem;
}

header {
  text-decoration: underline;
}

ul {
  list-style: square;
}
